<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="header">
       <nav class ="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a  class="navbar-brand">Healthy people</a>
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/receptions">The receptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/patients">The patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer_orders">The nomenclatures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer_orders">About program</a>
                </li>
            </ul>
        </div>
</div>

</html>